#search {
  height: calc(100vh - 50px);
}

section .search-area {
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

section .search-area input {
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}

section .search-area .button {
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background: #FF5722;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}