#search {
    background: #fff;
    display: none;
    height: calc(100vh - 50px);
    overflow: scroll;
  
  }
  .search-area {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
  
  .search-area input {
    flex-grow: 1;
    width: calc(100% - 50px);
    padding: 8px;
    margin-right: 2px;
    background-color: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
  }
  
  .search-area .button {
    display: block;
    width: 65px;
    text-align: center;
    padding: 8px 10px;
    background: #FF5722;
    color: #fff;
    border-radius: 2px;
  }
  
  .search-area {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
  
  .search-area input {
    flex-grow: 1;
    width: calc(100% - 50px);
    padding: 8px;
    margin-right: 2px;
    background-color: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
  }
  
  .search-area .button {
    display: block;
    width: 65px;
    text-align: center;
    padding: 8px 10px;
    background: #FF5722;
    color: #fff;
    border-radius: 2px;
  }